/* reset */
* {
  margin:0;
  padding: 0; 
  box-sizing: border-box
}

.container {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  width: 90%;
}

header {
  position: fixed;
  top:0;
  left:0;
  z-index: 100;
  display: flex;
  margin-bottom: 2rem;
  border-bottom: 1px solid #e4e4e4 ;
  background-color: var(--body-color);
  width: 100%;

}

main {
  margin-top: 4rem;
}

ul {
  list-style: none;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 4.5rem;
  align-items: center;
  width: 100%;
}

nav.show .menu {
  opacity: 1;
  visibility: visible;
  background: var(--body-color);
  height: 100vh;
  width: 100vw;
  top:0;
  left: 0;
  position: fixed;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
}

img {
  width: 100%;
  height: auto;  
}

a {
  text-decoration: none;
}

body {
  font: 400 1rem 'DM Sans', 'sans-serif';
  background: var(--body-color) ;
  color: var(--text-color);
}

.logo h1 {
  font: 700 1.5rem 'Poppins', 'sans-serif';
  color: var(--title-color); 
}

.logo span {
  color: var(--base-color);
}

.title {
  font: 700 1.5rem 'Poppins', 'sans-serif';
  color: var(--title-color);
}

section {
  padding: 1.5rem 0;
}

.grid { 
  display: grid;
  gap: 2rem;
}


#home .texto {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  text-align: center;
}

#home .texto h1 {

  margin-bottom: 1rem;
}

#home .texto p {
  margin-bottom: 1.5rem;
}

#home .imagem {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.button {
   background-color: var(--base-color);
   color: var(--text-color-light);
   display: inline-flex;
   height: 3.5rem;
  align-items: center;
  padding: 0 2rem;
  font: 500 1rem 'Dm Sans', sans-serif; 
  transform: background 0.3s;
}

.button:hover {
  background: var(--base-color-alt); 

}

.divider {
  height: 1px;
  background: linear-gradient(
    270deg,
    hsla(var(--hue),36%,57%,1) 0%,
    hsla(var(--hue),65%,88%,0.34) 100%
 ); 
}

nav ul li{
  text-align: center;
}

nav ul li a:hover{
  color:var(--base-color);
}

nav ul li a{
  transition: 0.8s;
  position: relative;
}

nav ul li a:hover::after{
  content: "";
  width: 100%;
  height: 3px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: 0;
  transition: 0.3s;
}

nav.show ul.grid {
  gap: 4rem;
}

nav.show .menu {
  display: grid;
  place-content: center;
}

:root {
   --hue: 159;
   /* HSL color mode */
  --base-color: hsl(var(--hue) 36% 57%);
  --base-color-second: hsl(var(--hue) 65% 88%);
  --base-color-alt: hsl(var(--hue) 57% 53%);
  --title-color: hsl(var(--hue) 41% 10%);
  --text-color: hsl(0 0% 46%);
  --text-color-light: hsl(0 0% 98%);
  --body-color: hsl(0 0% 98%);
}

nav .icon-close {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  right: 1.5rem;
}

nav.show div.icon-close {
  visibility: visible;
  opacity: 1;
}

.toggle {
  font-size: 1.5rem;
  color: var(--base-color); 
  cursor: pointer; 
 }  

 #about .textoo {
   margin-left: 1.5rem;
   margin-right: 1.5rem;
   text-align: justify;
 }

 #about .imagem {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
}

#about .textoo h1 {

margin-left: 1.5rem;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 45px;
text-align: left;
color: #000000;
margin-bottom: 1rem;
}

#about .textoo p {

margin-left: 1.5rem;
margin-right: 1.5rem;
text-align: justify;
font-family: 'DM Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
color: #767676;
margin-bottom: 1.5rem;

}


